* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  /* padding: 20px; */
}

.container-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.class-one {
  border: 1px solid #fd53c0;
  padding: 10px 20px;
  border-radius: 30px;
}

.class-one button {
  border: none;
  color: #fd53c0;
  background-color: transparent;
}

.container-two {
    padding: 20px;
  text-align: center;
  margin: 100px 0;
}

.community {
  margin-bottom: 20px;
}

.genuine {
  margin-bottom: 20px;
}

.started .free {
  background-color: #fd53c0;
  padding: 15px 45px;
  border-radius: 30px;
  border: none;
  color: white;
}

.mockups {
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

.mockups img {
  width: 600px;
}

.container-three {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.class-two img {
  width: 20px;
}

.class-two-number {
  font-weight: 700;
  font-size: 30px;
}

.formed {
  color: grey;
}

.class-two-A img {
  width: 20px;
}

.number {
  font-weight: 700;
  font-size: 30px;
}

.message {
  color: grey;
}

.container-four {
  display: flex;
  align-items: center;
  /* gap: 40px; */
  justify-content: space-evenly;
  padding: 20px;
}

.class-three h2 {
  margin-bottom: 10px;
}

p {
  color: grey;
}

.class-three-A img {
  width: 400px;
}

.container-five {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.class-four img {
  width: 400px;
}

.class-four-A h2 {
  margin-bottom: 10px;
}

.container-six {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  padding: 20px;
}



.class-five h2 {
  margin-bottom: 10px;
}



.class-five-A img {
  width: 400px;
}

.container-seven {
  text-align: center;
}

.class-six {
  margin-bottom: 20px;
}

.class-six-A .Get {
  background-color: #fd53c0;
  padding: 15px 45px;
  border-radius: 30px;
  border: none;
  color: white;
}

.footer {
  background-color: #01262f;
  
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-radius: 20px; */
  margin-top: 90px;
}

.footer-img img {
  background-color: #fffeff;
}

.Lorem {
  color: white;
  margin-top: 20px;
}

.footer-phone {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.footer-phone p {
  color: white;
}

.footer-email {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-email p {
  color: white;
}

news {
  display: flex;
}

.news h2 {
  color: white;
}

.news p {
  color: white;
}

.footer-phone-one {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-phone-one form {
  color: white;
  height: 20px;
  /* margin-top: 20px; */

}

.footer-phone-one form input{
    padding: 10px;
}

.footer-phone-one button {
  background-color: #fd53c0;
  padding: 2px;
  width: 80px;
  border: none;
  margin-top: 20px;
  padding: 10px;
  color: white;
}

@media all and (max-width: 700px) {
  .mockups img {
    width: 100%;
  }

  .container-four{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .class-three-A img{
    width: 100%;
  }

  .container-five{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .class-four img{
    width: 100%;
  }

  .container-six{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .class-five-A img {
    width: 100%;
  }

  .footer{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .footer-img img{
    width: 200px;
  }
}

@media all and (max-width: 400px) {
    .one img {
        width: 150px;
      }
}

